# Data Visualization and Exploration - Python

- Jackson Cown

In [55]:
import numpy as np
import pandas as pd
import datetime as dt

### Loading the Datasets

In [2]:
# Load file paths
items_path = "../data/items.csv"
category_hierarchy_path = "../data/category_hierarchy.csv"
orders_path = "../data/orders.csv"
# Load datasets into pandas
items = pd.read_csv(items_path, sep="|")
category_hierarchy = pd.read_csv(category_hierarchy_path, sep="|")
orders = pd.read_csv(orders_path, sep="|")

In [3]:
# Check Items
items.head()

,itemID,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories
0,22665,861,4,0,490,2,66,"[2890, 855, 3908, 3909]"
1,28640,1366,10,1,537,0,101,NaN
2,13526,1090,10,0,511,0,0,"[3270, 163, 284, 1694, 12, 3837, 2422, 3595, 3..."
3,21399,1090,10,1,511,0,0,[3270]
4,8504,768,4,1,484,0,66,[2470]

In [4]:
# Check Category Hierarchy
category_hierarchy.head()

   category  parent_category
0         0               75
1         1             1499
2         2             1082
3         3             3498
4         4             1623

In [5]:
# Check Orders
orders.head()

         date  userID  itemID  order
0  2020-06-01   38769    3477      1
1  2020-06-01   42535   30474      1
2  2020-06-01   42535   15833      1
3  2020-06-01   42535   20131      1
4  2020-06-01   42535    4325      1

### Munging the Dataset

In [89]:
# Generate Dates
start = dt.datetime.strptime("2020-06-01", "%Y-%m-%d")
date_generated = pd.date_range(start, periods=245)
#print(list(date_generated.strftime("%Y-%m-%d")))
#print(date_generated)

In [82]:
# Init dict for storing date order pairs
date_order = {}
for i, date in enumerate(date_generated):
    # Format date for comparisn
    date = date.strftime("%Y-%m-%d")
    # Compile and sum list of orders per day; update dict
    ordered = np.sum([item for item in orders.loc[orders["date"] == date].order])
    date_order[i] = [date, ordered]
    print(f'Date: {date}; \nOrder Count: {ordered}\n')

Date: 2020-06-01;
Order Count: 7148

Date: 2020-06-02;
Order Count: 6039

Date: 2020-06-03;
Order Count: 6781

Date: 2020-06-04;
Order Count: 5904

Date: 2020-06-05;
Order Count: 5118

Date: 2020-06-06;
Order Count: 9105

Date: 2020-06-07;
Order Count: 8017

Date: 2020-06-08;
Order Count: 3482

Date: 2020-06-09;
Order Count: 1516

Date: 2020-06-10;
Order Count: 2248

Date: 2020-06-11;
Order Count: 3238

Date: 2020-06-12;
Order Count: 4706

Date: 2020-06-13;
Order Count: 8719

Date: 2020-06-14;
Order Count: 8189

Date: 2020-06-15;
Order Count: 5820

Date: 2020-06-16;
Order Count: 6849

Date: 2020-06-17;
Order Count: 6440

Date: 2020-06-18;
Order Count: 5991

Date: 2020-06-19;
Order Count: 4641

Date: 2020-06-20;
Order Count: 2170

Date: 2020-06-21;
Order Count: 7508

Date: 2020-06-22;
Order Count: 7133

Date: 2020-06-23;
Order Count: 5158

Date: 2020-06-24;
Order Count: 3510

Date: 2020-06-25;
Order Count: 5235

Date: 2020-06-26;
Order Count: 4776

Date: 2020-06-27;
Order Count: 8054

Date: 2020-06-28;
Order Count: 8265

Date: 2020-06-29;
Order Count: 8094

Date: 2020-06-30;
Order Count: 8196

Date: 2020-07-01;
Order Count: 6533

Date: 2020-07-02;
Order Count: 4052

Date: 2020-07-03;
Order Count: 4212

Date: 2020-07-04;
Order Count: 7988

Date: 2020-07-05;
Order Count: 8131

Date: 2020-07-06;
Order Count: 7225

Date: 2020-07-07;
Order Count: 6036

Date: 2020-07-08;
Order Count: 6665

Date: 2020-07-09;
Order Count: 4886

Date: 2020-07-10;
Order Count: 4483

Date: 2020-07-11;
Order Count: 8091

Date: 2020-07-12;
Order Count: 7288

Date: 2020-07-13;
Order Count: 7480

Date: 2020-07-14;
Order Count: 1369

Date: 2020-07-15;
Order Count: 5877

Date: 2020-07-16;
Order Count: 5466

Date: 2020-07-17;
Order Count: 4527

Date: 2020-07-18;
Order Count: 7111

Date: 2020-07-19;
Order Count: 7617

Date: 2020-07-20;
Order Count: 243

Date: 2020-07-21;
Order Count: 7756

Date: 2020-07-22;
Order Count: 6137

Date: 2020-07-23;
Order Count: 4888

Date: 2020-07-24;
Order Count: 2669

Date: 2020-07-25;
Order Count: 4085

Date: 2020-07-26;
Order Count: 8516

Date: 2020-07-27;
Order Count: 2710

Date: 2020-07-28;
Order Count: 7066

Date: 2020-07-29;
Order Count: 1764

Date: 2020-07-30;
Order Count: 4971

Date: 2020-07-31;
Order Count: 5503

Date: 2020-08-01;
Order Count: 8385

Date: 2020-08-02;
Order Count: 6155

Date: 2020-08-03;
Order Count: 6777

Date: 2020-08-04;
Order Count: 4025

Date: 2020-08-05;
Order Count: 5968

Date: 2020-08-06;
Order Count: 5318

Date: 2020-08-07;
Order Count: 4723

Date: 2020-08-08;
Order Count: 7573

Date: 2020-08-09;
Order Count: 7180

Date: 2020-08-10;
Order Count: 6437

Date: 2020-08-11;
Order Count: 6470

Date: 2020-08-12;
Order Count: 4579

Date: 2020-08-13;
Order Count: 4840

Date: 2020-08-14;
Order Count: 4524

Date: 2020-08-15;
Order Count: 6718

Date: 2020-08-16;
Order Count: 7422

Date: 2020-08-17;
Order Count: 7498

Date: 2020-08-18;
Order Count: 6648

Date: 2020-08-19;
Order Count: 5961

Date: 2020-08-20;
Order Count: 4301

Date: 2020-08-21;
Order Count: 3931

Date: 2020-08-22;
Order Count: 3023

Date: 2020-08-23;
Order Count: 7827

Date: 2020-08-24;
Order Count: 6578

Date: 2020-08-25;
Order Count: 6439

Date: 2020-08-26;
Order Count: 5711

Date: 2020-08-27;
Order Count: 5314

Date: 2020-08-28;
Order Count: 4637

Date: 2020-08-29;
Order Count: 7927

Date: 2020-08-30;
Order Count: 6530

Date: 2020-08-31;
Order Count: 6627

Date: 2020-09-01;
Order Count: 5139

Date: 2020-09-02;
Order Count: 5585

Date: 2020-09-03;
Order Count: 4304

Date: 2020-09-04;
Order Count: 4006

Date: 2020-09-05;
Order Count: 6477

Date: 2020-09-06;
Order Count: 3386

Date: 2020-09-07;
Order Count: 6135

Date: 2020-09-08;
Order Count: 6177

Date: 2020-09-09;
Order Count: 3771

Date: 2020-09-10;
Order Count: 5159

Date: 2020-09-11;
Order Count: 4839

Date: 2020-09-12;
Order Count: 6587

Date: 2020-09-13;
Order Count: 6992

Date: 2020-09-14;
Order Count: 6623

Date: 2020-09-15;
Order Count: 6623

Date: 2020-09-16;
Order Count: 5495

Date: 2020-09-17;
Order Count: 4655

Date: 2020-09-18;
Order Count: 4251

Date: 2020-09-19;
Order Count: 6869

Date: 2020-09-20;
Order Count: 6922

Date: 2020-09-21;
Order Count: 6524

Date: 2020-09-22;
Order Count: 6056

Date: 2020-09-23;
Order Count: 5649

Date: 2020-09-24;
Order Count: 4851

Date: 2020-09-25;
Order Count: 3804

Date: 2020-09-26;
Order Count: 6360

Date: 2020-09-27;
Order Count: 7345

Date: 2020-09-28;
Order Count: 7064

Date: 2020-09-29;
Order Count: 4488

Date: 2020-09-30;
Order Count: 6400

Date: 2020-10-01;
Order Count: 5099

Date: 2020-10-02;
Order Count: 4305

Date: 2020-10-03;
Order Count: 8060

Date: 2020-10-04;
Order Count: 7355

Date: 2020-10-05;
Order Count: 5435

Date: 2020-10-06;
Order Count: 1861

Date: 2020-10-07;
Order Count: 5862

Date: 2020-10-08;
Order Count: 4619

Date: 2020-10-09;
Order Count: 4042

Date: 2020-10-10;
Order Count: 7298

Date: 2020-10-11;
Order Count: 7960

Date: 2020-10-12;
Order Count: 7069

Date: 2020-10-13;
Order Count: 7418

Date: 2020-10-14;
Order Count: 6066

Date: 2020-10-15;
Order Count: 731

Date: 2020-10-16;
Order Count: 4537

Date: 2020-10-17;
Order Count: 8093

Date: 2020-10-18;
Order Count: 7172

Date: 2020-10-19;
Order Count: 7445

Date: 2020-10-20;
Order Count: 6602

Date: 2020-10-21;
Order Count: 6461

Date: 2020-10-22;
Order Count: 4521

Date: 2020-10-23;
Order Count: 4635

Date: 2020-10-24;
Order Count: 3124

Date: 2020-10-25;
Order Count: 7666

Date: 2020-10-26;
Order Count: 4049

Date: 2020-10-27;
Order Count: 7494

Date: 2020-10-28;
Order Count: 6230

Date: 2020-10-29;
Order Count: 5387

Date: 2020-10-30;
Order Count: 4668

Date: 2020-10-31;
Order Count: 6679

Date: 2020-11-01;
Order Count: 2578

Date: 2020-11-02;
Order Count: 8122

Date: 2020-11-03;
Order Count: 5435

Date: 2020-11-04;
Order Count: 1827

Date: 2020-11-05;
Order Count: 905

Date: 2020-11-06;
Order Count: 4944

Date: 2020-11-07;
Order Count: 4688

Date: 2020-11-08;
Order Count: 3750

Date: 2020-11-09;
Order Count: 7132

Date: 2020-11-10;
Order Count: 8051

Date: 2020-11-11;
Order Count: 7039

Date: 2020-11-12;
Order Count: 6123

Date: 2020-11-13;
Order Count: 5647

Date: 2020-11-14;
Order Count: 8910

Date: 2020-11-15;
Order Count: 8802

Date: 2020-11-16;
Order Count: 2692

Date: 2020-11-17;
Order Count: 8623

Date: 2020-11-18;
Order Count: 2360

Date: 2020-11-19;
Order Count: 1883

Date: 2020-11-20;
Order Count: 5472

Date: 2020-11-21;
Order Count: 9862

Date: 2020-11-22;
Order Count: 9123

Date: 2020-11-23;
Order Count: 9412

Date: 2020-11-24;
Order Count: 3650

Date: 2020-11-25;
Order Count: 7436

Date: 2020-11-26;
Order Count: 6840

Date: 2020-11-27;
Order Count: 6222

Date: 2020-11-28;
Order Count: 9139

Date: 2020-11-29;
Order Count: 9535

Date: 2020-11-30;
Order Count: 9069

Date: 2020-12-01;
Order Count: 8664

Date: 2020-12-02;
Order Count: 7701

Date: 2020-12-03;
Order Count: 1597

Date: 2020-12-04;
Order Count: 6376

Date: 2020-12-05;
Order Count: 9268

Date: 2020-12-06;
Order Count: 9222

Date: 2020-12-07;
Order Count: 3664

Date: 2020-12-08;
Order Count: 8359

Date: 2020-12-09;
Order Count: 7899

Date: 2020-12-10;
Order Count: 6398

Date: 2020-12-11;
Order Count: 5989

Date: 2020-12-12;
Order Count: 9867

Date: 2020-12-13;
Order Count: 9242

Date: 2020-12-14;
Order Count: 9077

Date: 2020-12-15;
Order Count: 8258

Date: 2020-12-16;
Order Count: 7352

Date: 2020-12-17;
Order Count: 6527

Date: 2020-12-18;
Order Count: 5574

Date: 2020-12-19;
Order Count: 8001

Date: 2020-12-20;
Order Count: 7219

Date: 2020-12-21;
Order Count: 6237

Date: 2020-12-22;
Order Count: 3731

Date: 2020-12-23;
Order Count: 2896

Date: 2020-12-24;
Order Count: 1348

Date: 2020-12-25;
Order Count: 2363

Date: 2020-12-26;
Order Count: 4164

Date: 2020-12-27;
Order Count: 7553

Date: 2020-12-28;
Order Count: 7259

Date: 2020-12-29;
Order Count: 6365

Date: 2020-12-30;
Order Count: 5473

Date: 2020-12-31;
Order Count: 3118

Date: 2021-01-01;
Order Count: 4075

Date: 2021-01-02;
Order Count: 7712

Date: 2021-01-03;
Order Count: 8378

Date: 2021-01-04;
Order Count: 8608

Date: 2021-01-05;
Order Count: 7916

Date: 2021-01-06;
Order Count: 6911

Date: 2021-01-07;
Order Count: 6120

Date: 2021-01-08;
Order Count: 5032

Date: 2021-01-09;
Order Count: 7914

Date: 2021-01-10;
Order Count: 8859

Date: 2021-01-11;
Order Count: 7791

Date: 2021-01-12;
Order Count: 7997

Date: 2021-01-13;
Order Count: 7231

Date: 2021-01-14;
Order Count: 6022

Date: 2021-01-15;
Order Count: 5687

Date: 2021-01-16;
Order Count: 8427

Date: 2021-01-17;
Order Count: 8340

Date: 2021-01-18;
Order Count: 9534

Date: 2021-01-19;
Order Count: 8401

Date: 2021-01-20;
Order Count: 7513

Date: 2021-01-21;
Order Count: 6215

Date: 2021-01-22;
Order Count: 6334

Date: 2021-01-23;
Order Count: 8610

Date: 2021-01-24;
Order Count: 8564

Date: 2021-01-25;
Order Count: 8195

Date: 2021-01-26;
Order Count: 8213

Date: 2021-01-27;
Order Count: 7029

Date: 2021-01-28;
Order Count: 5887

Date: 2021-01-29;
Order Count: 6682

Date: 2021-01-30;
Order Count: 11304

Date: 2021-01-31;
Order Count: 10441

In [87]:
# Convert dict to pandas DataFrame
date_order_df = pd.DataFrame.from_dict(date_order, orient='index', columns=["date", "num_orders"])
date_order_df.head(10)

         date  num_orders
0  2020-06-01        7148
1  2020-06-02        6039
2  2020-06-03        6781
3  2020-06-04        5904
4  2020-06-05        5118
5  2020-06-06        9105
6  2020-06-07        8017
7  2020-06-08        3482
8  2020-06-09        1516
9  2020-06-10        2248

In [88]:
# Export to CSV
date_order_df.to_csv('../data/date_orders.csv')